.spacer {
    height: 16px;
}

.table_cell {
    line-height: 30px;
}

.table_cell.year {
    text-align: center;
}

.ghg_editor_title {
    padding: 4px;
    color: #777777;
}

.chosen-single {
    height: 34px !important;
    line-height: 34px !important;
}